@font-face {
    font-family: calvin_and_hobbes;
    src: url(../font/CALVINN.TTF);
}

@font-face{
    font-family: oranienbaum;
    src: url(../font/Oranienbaum.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

body {
    /*image via unsplash.com by Patrick Shopflin*/
    background-image: url("../images/background.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    letter-spacing: 1px;
}

h1,
.answers {
     margin-bottom: 25px;
}

h1 {
    font-family: calvin_and_hobbes;
}

.intro {
    font-family: oranienbaum;
    line-height: 30px;
    margin-bottom: 60px;
}

.question {
    font-style: italic;
    font-weight: bold;
    margin-bottom: 25px;
}

button {
    padding: 8px;
    border-radius: 12px;
    background-color: #fff;
    width: 100px;
    font-size: 14px; 
    margin-top: 20px;
}

button:hover {

}

.yes-btn {
    margin-right: 5px;
}

#user-preferences {
    /*margin-bottom: 20px;*/
}

.next {
    font-family: 'Helvetica', sans-serif;
    font-size: 12px; 
    text-transform: uppercase;
}

.next:hover {
    text-decoration: underline;
    font-size: 14px;
}

/*iPhone portrait*/

@media only screen and (min-width: 320px) {
    body {
        color: purple;
        height: 50rem;
        background-position: center top;
        
    }

    .wrapper {
        padding: 50px 20px;
        height: 40rem;
        margin: 50px 10px 50px 10px;
        background: rgba(225, 225, 225, .5)
    }

    h1 {
        font-size: 35px;
    }

    .intro,
    .question  {
        font-size: 18px;
    }
}


/*iPhone landscape*/

@media only screen and (min-width: 480px) {
    body {
        color: green;
    }
}


/*ipad potrait*/

@media only screen and (min-width: 768px) {
    body {
        color: red;
    }

      .wrapper {
        margin-left: 20px;
        margin-right: 20px;
    }

    h1 {
        font-size: 50px;
    }

    .intro {
        font-size: 20px;
    }
}


/*ipad lanscape / small laptop*/

@media only screen and (min-width: 1024px) {
    body {
        color: blue;
        height: 48rem;
    }

    .wrapper {
        margin-left: 150px;
        margin-right: 150px;
    }
}
